[{:block/name "**сущность аналогии и ее виды**",
  :block/created-at 1683531292989,
  :block/updated-at 1683531292989}
 {:block/name
  "../assets/8_кл.підсумковий_тест_\"опрацювання_мультимед_1669887262554_0.pdf",
  :block/created-at 1683531289115,
  :block/updated-at 1683531289115}
 {:block/name "../core/constraints.html#schema-unique-constraint",
  :block/created-at 1683531291558,
  :block/updated-at 1683531291558}
 {:block/name "../core/constraints.html#sqlalchemy.schema.foreignkey",
  :block/created-at 1683531291574,
  :block/updated-at 1683531291574}
 {:block/name "../core/metadata.html#sqlalchemy.schema.column",
  :block/created-at 1683531291543,
  :block/updated-at 1683531291543}
 {:block/name
  "../core/metadata.html#sqlalchemy.schema.column.params.nullable",
  :block/created-at 1683531291544,
  :block/updated-at 1683531291544}
 {:block/name "../core/metadata.html#sqlalchemy.schema.metadata",
  :block/created-at 1683531291739,
  :block/updated-at 1683531291739}
 {:block/name "../core/metadata.html#sqlalchemy.schema.table",
  :block/created-at 1683531291736,
  :block/updated-at 1683531291736}
 {:block/name "../core/selectable.html#sqlalchemy.sql.expression.join",
  :block/created-at 1683531291583,
  :block/updated-at 1683531291583}
 {:block/name "../core/sqlelement.html#sqlalchemy.sql.expression.desc",
  :block/created-at 1683531291679,
  :block/updated-at 1683531291679}
 {:block/name "3 клас (корнієнко)",
  :block/created-at 1665320147088,
  :block/updated-at 1665320147088}
 {:block/name "4 клас ",
  :block/created-at 1667900180471,
  :block/updated-at 1667900180471}
 {:block/name "5  клас (й. ривкінд)",
  :block/created-at 1667898753170,
  :block/updated-at 1667898753170}
 {:block/name "6 клас морзе",
  :block/created-at 1667899612457,
  :block/updated-at 1667899612457}
 {:block/name "7 кл",
  :block/created-at 1669893769576,
  :block/updated-at 1669893769576}
 {:block/name "8 клас (ривкінд)",
  :block/created-at 1665320147632,
  :block/updated-at 1665320147632}
 {:block/name "a",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "b",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "booleanpy",
  :block/created-at 1683531287904,
  :block/updated-at 1683531287904}
 {:block/name "c",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "canceled",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "cancelled",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "card",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name "card**дані**",
  :block/created-at 1665320146956,
  :block/updated-at 1665320146956}
 {:block/name "cascades.html#cascade-delete",
  :block/created-at 1683531291526,
  :block/updated-at 1683531291526}
 {:block/name "cascades.html#cascade-delete-many-to-many",
  :block/created-at 1683531291627,
  :block/updated-at 1683531291627}
 {:block/name "cascades.html#cascade-delete-orphan",
  :block/created-at 1683531291511,
  :block/updated-at 1683531291511}
 {:block/name "cascades.html#passive-deletes",
  :block/created-at 1683531291643,
  :block/updated-at 1683531291643}
 {:block/name "cascades.html#passive-deletes-many-to-many",
  :block/created-at 1683531291626,
  :block/updated-at 1683531291626}
 {:block/name "cascades.html#unitofwork-cascades",
  :block/created-at 1683531291627,
  :block/updated-at 1683531291627}
 {:block/name "collection_api.html#custom-collections",
  :block/created-at 1683531291605,
  :block/updated-at 1683531291605}
 {:block/name "contents",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name
  "declarative_tables.html#orm-declarative-mapped-column-nullability",
  :block/created-at 1683531291541,
  :block/updated-at 1683531291541}
 {:block/name
  "declarative_tables.html#orm-declarative-table-adding-columns",
  :block/created-at 1683531291723,
  :block/updated-at 1683531291723}
 {:block/name "doing",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "done",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name "favorites",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name "file",
  :block/created-at 1669887768273,
  :block/updated-at 1669887768273}
 {:block/name "file-path",
  :block/created-at 1669887635002,
  :block/updated-at 1669887635002}
 {:block/name "hl-color",
  :block/created-at 1683531289103,
  :block/updated-at 1683531289103}
 {:block/name
  "hls__8_кл.підсумковий_тест_\"опрацювання_мультимед_1669887262554_0",
  :block/created-at 1669887768255,
  :block/updated-at 1669888676064}
 {:block/name "in-progress",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "index",
  :block/created-at 1664644899163,
  :block/updated-at 1672485163293}
 {:block/name "internals.html#sqlalchemy.orm.mapped",
  :block/created-at 1683531291729,
  :block/updated-at 1683531291729}
 {:block/name "internals.html#sqlalchemy.orm.mapperproperty",
  :block/created-at 1683531291714,
  :block/updated-at 1683531291714}
 {:block/name "kdenlive",
  :block/created-at 1668919325683,
  :block/updated-at 1669235010683}
 {:block/name "later",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "mapping_api.html#sqlalchemy.orm.declarative_base",
  :block/created-at 1683531291728,
  :block/updated-at 1683531291728}
 {:block/name "mapping_api.html#sqlalchemy.orm.declarativebase",
  :block/created-at 1683531291728,
  :block/updated-at 1683531291728}
 {:block/name "mapping_api.html#sqlalchemy.orm.mapped_column",
  :block/created-at 1683531291544,
  :block/updated-at 1683531291544}
 {:block/name "mapping_api.html#sqlalchemy.orm.registry",
  :block/created-at 1683531291737,
  :block/updated-at 1683531291737}
 {:block/name "mapping_api.html#sqlalchemy.orm.registry.generate_base",
  :block/created-at 1683531291727,
  :block/updated-at 1683531291727}
 {:block/name
  "mapping_api.html#sqlalchemy.orm.registry.map_imperatively",
  :block/created-at 1683531291725,
  :block/updated-at 1683531291725}
 {:block/name "mapping_api.html#sqlalchemy.orm.registry.mapped",
  :block/created-at 1683531291726,
  :block/updated-at 1683531291726}
 {:block/name "nov 8th, 2022",
  :block/created-at 1667920173784,
  :block/updated-at 1669235950457}
 {:block/name "now",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111502}
 {:block/name "omada cloud",
  :block/created-at 1672485163257,
  :block/updated-at 1672485169678}
 {:block/name "python",
  :block/created-at 1670170380294,
  :block/updated-at 1670419307777}
 {:block/name "relationship_api.html#sqlalchemy.orm.relationship",
  :block/created-at 1683531291735,
  :block/updated-at 1683531291735}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params._user_defined_foreign_keys",
  :block/created-at 1683531291711,
  :block/updated-at 1683531291711}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.argument",
  :block/created-at 1683531291690,
  :block/updated-at 1683531291690}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.back_populates",
  :block/created-at 1683531291660,
  :block/updated-at 1683531291660}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.collection_class",
  :block/created-at 1683531291608,
  :block/updated-at 1683531291608}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.foreign_keys",
  :block/created-at 1683531291709,
  :block/updated-at 1683531291709}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.order_by",
  :block/created-at 1683531291692,
  :block/updated-at 1683531291692}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.passive_deletes",
  :block/created-at 1683531291643,
  :block/updated-at 1683531291643}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.primaryjoin",
  :block/created-at 1683531291693,
  :block/updated-at 1683531291693}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.remote_side",
  :block/created-at 1683531291708,
  :block/updated-at 1683531291708}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.secondary",
  :block/created-at 1683531291740,
  :block/updated-at 1683531291740}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.secondaryjoin",
  :block/created-at 1683531291694,
  :block/updated-at 1683531291694}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.uselist",
  :block/created-at 1683531291561,
  :block/updated-at 1683531291561}
 {:block/name
  "relationship_api.html#sqlalchemy.orm.relationship.params.viewonly",
  :block/created-at 1683531291673,
  :block/updated-at 1683531291673}
 {:block/name "session_api.html#sqlalchemy.orm.session",
  :block/created-at 1683531291670,
  :block/updated-at 1683531291670}
 {:block/name "session_api.html#sqlalchemy.orm.session.commit",
  :block/created-at 1683531291662,
  :block/updated-at 1683531291662}
 {:block/name "session_api.html#sqlalchemy.orm.session.delete",
  :block/created-at 1683531291615,
  :block/updated-at 1683531291615}
 {:block/name "session_api.html#sqlalchemy.orm.session.expire",
  :block/created-at 1683531291675,
  :block/updated-at 1683531291675}
 {:block/name "sqlalchemy relations patterns",
  :block/created-at 1683531291745,
  :block/updated-at 1683531291745}
 {:block/name "stepik: введение в сетевые технологии",
  :block/created-at 1672478555863,
  :block/updated-at 1672480016636}
 {:block/name "strings",
  :block/created-at 1670170397503,
  :block/updated-at 1670172991228}
 {:block/name "tkinter",
  :block/created-at 1670420817710,
  :block/updated-at 1672163343241}
 {:block/name "todo",
  :block/created-at 1664648111502,
  :block/updated-at 1664648111502}
 {:block/name "wait",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name "waiting",
  :block/created-at 1664648111501,
  :block/updated-at 1664648111501}
 {:block/name "алгебра логіки",
  :block/created-at 1666613960504,
  :block/updated-at 1666614028291}
 {:block/name "алгоритми та програми",
  :block/created-at 1670414350232,
  :block/updated-at 1670419149663}
 {:block/name "алфавіт мови програмування",
  :block/created-at 1666610238772,
  :block/updated-at 1670414635321}
 {:block/name "аналогия в математике etc.",
  :block/created-at 1683531290064,
  :block/updated-at 1683531290064}
 {:block/name "аналоговий",
  :block/created-at 1669023392147,
  :block/updated-at 1669023491686}
 {:block/name "анімація",
  :block/created-at 1670414310111,
  :block/updated-at 1670414310111}
 {:block/name "байт",
  :block/created-at 1666610558359,
  :block/updated-at 1666610653302}
 {:block/name "біт",
  :block/created-at 1665320147279,
  :block/updated-at 1665320147279}
 {:block/name "види комп'ютерів",
  :block/created-at 1664644968494,
  :block/updated-at 1664789075926}
 {:block/name "види роздільної здатності дисплеїв",
  :block/created-at 1664711714252,
  :block/updated-at 1664711714252}
 {:block/name "висловлювання",
  :block/created-at 1666610697225,
  :block/updated-at 1666610874898}
 {:block/name "виступ із презентацією",
  :block/created-at 1667900683476,
  :block/updated-at 1667900683476}
 {:block/name "властивості",
  :block/created-at 1667898753579,
  :block/updated-at 1667898753579}
 {:block/name "второй монитор",
  :block/created-at 1683531293945,
  :block/updated-at 1683531293945}
 {:block/name "данные",
  :block/created-at 1664732264912,
  :block/updated-at 1664733608946}
 {:block/name "двійкове кодування",
  :block/created-at 1665320147388,
  :block/updated-at 1666611332349}
 {:block/name "двійковий код повідомлення",
  :block/created-at 1666611382347,
  :block/updated-at 1666611762403}
 {:block/name "декодування повідомлення",
  :block/created-at 1666611797578,
  :block/updated-at 1666611875112}
 {:block/name "державні стандарти оформлення документів",
  :block/created-at 1666611938603,
  :block/updated-at 1666612107673}
 {:block/name "диз'юнкція",
  :block/created-at 1666612381755,
  :block/updated-at 1666613538697}
 {:block/name "дизайн вебсторінки",
  :block/created-at 1666612190066,
  :block/updated-at 1666612324490}
 {:block/name "дискретний",
  :block/created-at 1669023428249,
  :block/updated-at 1669023624314}
 {:block/name "довжина двійкового коду повідомлення (обсяг даних)",
  :block/created-at 1666614505602,
  :block/updated-at 1666614590459}
 {:block/name "експрес-стилі",
  :block/created-at 1666614742391,
  :block/updated-at 1666614881378}
 {:block/name "елементи навігації",
  :block/created-at 1666615189567,
  :block/updated-at 1666615291383}
 {:block/name "ергономіка",
  :block/created-at 1666615382011,
  :block/updated-at 1666615535973}
 {:block/name "ергономічний сайт",
  :block/created-at 1666640023322,
  :block/updated-at 1666640203841}
 {:block/name "етапи створення презентації та вимоги до її оформлення",
  :block/created-at 1667900619995,
  :block/updated-at 1669191938417}
 {:block/name "загальні поняття про відеофільм",
  :block/created-at 1669284345022,
  :block/updated-at 1669286627704}
 {:block/name "закладка",
  :block/created-at 1666640234333,
  :block/updated-at 1666640306395}
 {:block/name "заперечення",
  :block/created-at 1666874734084,
  :block/updated-at 1666874734084}
 {:block/name "змінні логічного типу",
  :block/created-at 1666874734120,
  :block/updated-at 1666874734120}
 {:block/name "зміст документа",
  :block/created-at 1666874734168,
  :block/updated-at 1666874734168}
 {:block/name "значення",
  :block/created-at 1667898753570,
  :block/updated-at 1667898753570}
 {:block/name "зовнішня пам'ять",
  :block/created-at 1666874734198,
  :block/updated-at 1666874734198}
 {:block/name "зовнішнє гіперпосилання",
  :block/created-at 1666874734245,
  :block/updated-at 1666874734245}
 {:block/name "информационные процессы",
  :block/created-at 1664732264961,
  :block/updated-at 1664781746047}
 {:block/name "код",
  :block/created-at 1665320147511,
  :block/updated-at 1665320147511}
 {:block/name "кодеки",
  :block/created-at 1666875717010,
  :block/updated-at 1666875789687}
 {:block/name "кодування",
  :block/created-at 1665320147656,
  :block/updated-at 1665320147656}
 {:block/name "колонтитули",
  :block/created-at 1666876048607,
  :block/updated-at 1666876159714}
 {:block/name "колірна модель",
  :block/created-at 1666875869485,
  :block/updated-at 1666875979754}
 {:block/name "коментар",
  :block/created-at 1666876192495,
  :block/updated-at 1666876406244}
 {:block/name "комп'ютерна програма",
  :block/created-at 1666876694304,
  :block/updated-at 1666876807523}
 {:block/name "комп'ютерні презентації",
  :block/created-at 1667900049536,
  :block/updated-at 1667900746700}
 {:block/name "компілятор",
  :block/created-at 1666876403386,
  :block/updated-at 1666876589752}
 {:block/name "кон'юнкція",
  :block/created-at 1666876982494,
  :block/updated-at 1666886895497}
 {:block/name "контекстне меню",
  :block/created-at 1667898754735,
  :block/updated-at 1667898754735}
 {:block/name "контент",
  :block/created-at 1666876826381,
  :block/updated-at 1666876955382}
 {:block/name "лабиринт (игра)",
  :block/created-at 1669234100478,
  :block/updated-at 1669234752185}
 {:block/name "литература по инфобез",
  :block/created-at 1672402660580,
  :block/updated-at 1672402778255}
 {:block/name "логічний вираз",
  :block/created-at 1666877492809,
  :block/updated-at 1666877581596}
 {:block/name "логічні помилки",
  :block/created-at 1666877701731,
  :block/updated-at 1666878608487}
 {:block/name "макет слайда",
  :block/created-at 1667899114145,
  :block/updated-at 1667899227704}
 {:block/name "мапа сайту",
  :block/created-at 1666878627758,
  :block/updated-at 1666878713843}
 {:block/name "математична модель",
  :block/created-at 1683531299731,
  :block/updated-at 1683531299731}
 {:block/name "математичні лови",
  :block/created-at 1683531296962,
  :block/updated-at 1683531296962}
 {:block/name "меню",
  :block/created-at 1667898753965,
  :block/updated-at 1667898753965}
 {:block/name "мови програмування",
  :block/created-at 1670414744368,
  :block/updated-at 1670414772805}
 {:block/name "монітор",
  :block/created-at 1666878767002,
  :block/updated-at 1666878932371}
 {:block/name "музичні редактори",
  :block/created-at 1666878973897,
  :block/updated-at 1666879065502}
 {:block/name "мультимедіа",
  :block/created-at 1669022723908,
  :block/updated-at 1669023213968}
 {:block/name "налагодження проєкту",
  :block/created-at 1666879100502,
  :block/updated-at 1666879153254}
 {:block/name "об'єкт",
  :block/created-at 1667898754321,
  :block/updated-at 1667898754321}
 {:block/name "об'єкти презентації",
  :block/created-at 1667898833725,
  :block/updated-at 1667899612482}
 {:block/name "обработка информации",
  :block/created-at 1665320151556,
  :block/updated-at 1665320151556}
 {:block/name "обробник події",
  :block/created-at 1666879180252,
  :block/updated-at 1666879276137}
 {:block/name "опрацювання даних",
  :block/created-at 1666879332278,
  :block/updated-at 1666879449202}
 {:block/name
  "очікування по темі \"кодування даних та апаратне забезпечення\"",
  :block/created-at 1664714446114,
  :block/updated-at 1664734233937}
 {:block/name
  "очікування по темі \"опрацювання мультимедійних об'єктів\"",
  :block/created-at 1669576562688,
  :block/updated-at 1669577747322}
 {:block/name "очікування по темі \"опрацювання текстових даних\"",
  :block/created-at 1665387146849,
  :block/updated-at 1665834508979}
 {:block/name
  "очікування по темі \"створення та публікація веб-ресурсів\"",
  :block/created-at 1668274117357,
  :block/updated-at 1668274311611}
 {:block/name "передача информации",
  :block/created-at 1665320147898,
  :block/updated-at 1665320147898}
 {:block/name "повідомлення",
  :block/created-at 1665320147503,
  :block/updated-at 1665320147503}
 {:block/name "події",
  :block/created-at 1670419307743,
  :block/updated-at 1670420817755}
 {:block/name "посилання",
  :block/created-at 1666879711142,
  :block/updated-at 1666879711142}
 {:block/name "представление информации",
  :block/created-at 1665320151551,
  :block/updated-at 1665320151551}
 {:block/name "принципи оцифровування звуку та відео",
  :block/created-at 1669023356845,
  :block/updated-at 1669026540036}
 {:block/name "підпрограма",
  :block/created-at 1666879517396,
  :block/updated-at 1666879617464}
 {:block/name
  "підсумковий тест \"опрацювання мультимедійних об'єктів\"",
  :block/created-at 1669887635409,
  :block/updated-at 1669887635409}
 {:block/name "розділи",
  :block/created-at 1667900084101,
  :block/updated-at 1667900084101}
 {:block/name "розклад",
  :block/created-at 1669105780597,
  :block/updated-at 1669237283346}
 {:block/name "сбор информации",
  :block/created-at 1665320151546,
  :block/updated-at 1665320151546}
 {:block/name "символ",
  :block/created-at 1665320147643,
  :block/updated-at 1665320147643}
 {:block/name "список багаторівневий",
  :block/created-at 1666610409125,
  :block/updated-at 1666610499040}
 {:block/name "співвідношення дисплеїв",
  :block/created-at 1664712362331,
  :block/updated-at 1664712362331}
 {:block/name "створення багаторівневих списків",
  :block/created-at 1665387146825,
  :block/updated-at 1665387146825}
 {:block/name "створення колонтитулів",
  :block/created-at 1665387146837,
  :block/updated-at 1665387146837}
 {:block/name "створення розділів у текстовому документі",
  :block/created-at 1665387146827,
  :block/updated-at 1665387146827}
 {:block/name "створення стовпців",
  :block/created-at 1665387146829,
  :block/updated-at 1665387146829}
 {:block/name "стиль",
  :block/created-at 1665834508937,
  :block/updated-at 1665835670062}
 {:block/name "стовпчасті та секторні діаграми",
  :block/created-at 1669893732981,
  :block/updated-at 1669899814493}
 {:block/name "структура документа",
  :block/created-at 1665387343760,
  :block/updated-at 1665387418213}
 {:block/name "суперкомп'ютер",
  :block/created-at 1665320147795,
  :block/updated-at 1665320147795}
 {:block/name "сущность аналогии и ее виды",
  :block/created-at 1683531298759,
  :block/updated-at 1683531298759}
 {:block/name "таблиця істинності",
  :block/created-at 1666613538662,
  :block/updated-at 1666614001963}
 {:block/name "хранение информации",
  :block/created-at 1665320151561,
  :block/updated-at 1665320151561}
 {:block/name "частота дискретизації",
  :block/created-at 1669024478837,
  :block/updated-at 1669026363175}
 {:block/name "что  такое плотность пикселей",
  :block/created-at 1664712536037,
  :block/updated-at 1664713068015}
 {:block/name "і",
  :block/created-at 1666875605156,
  :block/updated-at 1666875605156}
 {:block/name "інтерпретатор",
  :block/created-at 1666874732777,
  :block/updated-at 1666874732777}
 {:block/name "інтерфейс користувача",
  :block/created-at 1666874732602,
  :block/updated-at 1666875605202}
 {:block/name "інформатика",
  :block/created-at 1665320147096,
  :block/updated-at 1665320147096}
 {:block/name "інформація",
  :block/created-at 1665320147206, 
  :block/updated-at 1665320147206}]
